
body{
    background-color: #e78746e8;
}
.top-section{
    background: linear-gradient(45deg, #11151fda, #2a2b2f41), url(./images/chicken\ curry.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* top navigation bar section starts */
.navbar-nav .nav-item{
    padding: 10px 20px;
}
.navbar-nav .nav-item:hover{
    background-color:#f1b636e7;
}

.navbar-nav .nav-item .nav-link{
    text-decoration: none;
    color: #edf2f4;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.navbar-nav .nav-item .nav-link:hover{
    text-decoration: underline;
    color: #edf2f4;
}
/* top navigation bar section ends */
.white-color{
    color: white;
}
.white-color-kin{
    margin-top: 20px;
    color: white;
    margin-left: 10px; 
}

.intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
}
.btn{
    margin-top: 20px;
    float: left;
}

/* our meals section begins */
.botn{
    background-color: #74776b ;
    color:#edf2f4 ;
    border: 2px solid #74776b ;
    padding: 8px 32px;
    border-radius: 10px;
    cursor: grab;
    margin-right: 20px;
}
.botn:hover{
    background-color: #e75613;
    transition-duration: .6s;

}
.botn{
    display: inline;
    margin: 20px;
}
img{
    height: 200px;
    opacity: .8;
}
/* card section begins */
.titles{
    font-weight: 700;
    font-size: 40px;
}
.titles:hover{
    text-decoration: underline gold;
    
}
/* card section ends */

/* testimonials begin */
.card {
    border: none
}

.user-content p {
    margin-top: 5px;
    font-size: 12px
}

.ratings i {
    color: gold
}
.user-image{
    border-radius: 50%;
}
/* testimonials end */

/* events begin */
.event-image{
    height: 100%;
}
/* events end */

