.imgg{
    background-image: url('./images/indian.jpg');    
    background-size: 100% 100%;
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 5;
}
.img-fluid{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.white-color{
    color: white;
}
.white-color-kin{
    margin-top: 20px;
    color: white;
    margin-left: 10px; 
}

.intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 90px;
}
.btn{
    margin-top: 20px;
    float: left;
}

/* second section begins */
.botn{
    background-color: #74776b ;
    color:#edf2f4 ;
    border: 2px solid #74776b ;
    padding: 8px 32px;
    border-radius: 10px;
    cursor: grab;
    margin-right: 20px;
}
.botn:hover{
    background-color: #e75613;
    transition-duration: .6s;

}
.botn{
    display: inline;
    margin: 20px;
}
img{
    height: 200px;
    opacity: .8;
}
.our-meals{
    margin-bottom: 120px;
    margin-top: 120px;
}
.our-meals .card {
    margin-top: 32px;
    margin-bottom: 32px;
}

