.img{
    background-image: url(./images/res.avif);
    background-size: cover;
    height: 70vh;
    
}
.white-color{
    color: white;
}
.intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* second section begins */
.btn{
    background-color: #74776b ;
    color:#edf2f4 ;
    border: 2px solid #74776b ;
    padding: 8px 32px;
    border-radius: 10px;
    cursor: grab;
}
.btn:hover{
    background-color: #88656f;
    transition-duration: .6s;

}
.btn{
    display: inline;
    margin: 20px;
}
.meals-carousel{
    display: block;
}
/* .carousel-item img{
    width:640px;
    height:360px;
} */
.carousel {
    width:640px;
    height:360px;
  }
    

