.imgg{
    background-image: url(./images/res.avif);
    background-size: cover;
    height: 70vh;
    
}
.white-color{
    color: white;
}
.white-color-kin{
    margin-top: 20px;
    color: white;
    margin-left: 10px; 
}

.intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 90px;
}
.btn{
    margin-top: 20px;
    float: left;
}

/* second section begins */
.botn{
    background-color: #74776b ;
    color:#edf2f4 ;
    border: 2px solid #74776b ;
    padding: 8px 32px;
    border-radius: 10px;
    cursor: grab;
    margin-right: 20px;
}
.botn:hover{
    background-color: #e75613;
    transition-duration: .6s;

}
.botn{
    display: inline;
    margin: 20px;
}
.meals-carousel{
    display: block;
    
}
.second{
    margin: 20px;
}
/* .carousel-item img{
    width:640px;
    height:360px;
} */
.carousel {
    width:640px;
    height:360px;
  }
    

