.img{
    background-image: url(./images/res.avif);
    background-size: cover;
    height: 70vh;
    
}
.white-color{
    color: white;
}
.intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* second section begins */
.btn{
    background-color: #74776b ;
    color:#edf2f4 ;
    border: 2px solid #74776b ;
    padding: 8px 32px;
    border-radius: 10px;
    cursor: grab;
}
.btn:hover{
    background-color: #88656f;
    transition-duration: .6s;

}
.btn{
    display: block;
    margin: 20px;
}
.meals-carousel{
    display: flex;
    justify-content: space-evenly;
}
.main-slider img{
    max-height: 80vh !important;
    max-width: 80vh;
}
.carousel-inner{
    margin-right: 50px;
}
